body{
    background-image: url(../imgs/7.png.jpg);
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

.group{
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
    transform: translateY(80px);
    border-radius: 15px;
}

/* input{
    background-color: transparent !important;
    color: #fff !important;
} */
::placeholder{
    color: rgb(151, 148, 148) !important;
}